* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* start of main section  */
.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main {
    background-image: url(./img/Image.png);
    background-size: cover;
}

img.left {
    width: 73px;
    height: 32px;
    margin: 24px 0px;
}

a.contact {
    text-decoration: underline;
    color: black;
}

.contact-info {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 28px 0px ;
}

.intro-section {
    width: 70%;
    text-align: center;
    margin: auto;


}

.intro-section h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 20px 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
}

.intro-section p {
    font-size: 14px;
    line-height: 24px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

.request-btn {
    font-size: 14px;
    line-height: 16px;
    height: 35px;
    width: 140px;
    background: #F33D01;
    border-radius: 48px;
    border-color: transparent;
    color: white;
    margin: 20px 50px;
    cursor: pointer;
}
     
    .request-btn:hover {background-color: #d1552c};


/* To those devices whose viewport is 0-600px. */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .main {
        padding-bottom: 40px;

    }
    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

    .intro-section {
        width: 60%;
        margin: auto;
    }

    .intro-section p {
        font-size: 19px;
        line-height: 150%;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }
    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }
    .intro-section {
        width: 40%;
        text-align: center;
        margin: auto;

    }

    img.mixology-img {
        width: 159.55px;
        height: 44.48px;
        margin: 0px 181px;
    }

    .contact-info {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0px;
        margin-right: 200px;
    }

    .intro-section {
        width: 40%;
        margin: auto;

    }

    .intro-section h1 {
        font-size: 48px;
        line-height: 48px;
        margin-top: 121px;
        margin-bottom: 32px;
    }

    .intro-section p {
        font-size: 24px;
        line-height: 24px;

    }

    .request-btn {
        width: 209px;
        height: 48px;
        margin-top: 42px;
    }
}

    /* end of the main section */

    /* start of the message */
     .message-section { 
        margin:auto;
        text-align: center;
    }
    
    .message-section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    h2.girl-message {
        font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 20px;
text-align: center;
margin: 20px 40px;
    }

    span.girl-name{
        font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
display: inline-block;
text-transform: uppercase;
color: #86899B;
margin-bottom: 60px;
    }



    @media screen and (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    
        .main {
            padding-bottom: 40px;
    
        }

        
     .message-section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
      h2.girl-message {
     margin-top: 0px;
        font-size: 28px;
        line-height: 30px;
    }

span.girl-name {

    font-size: 20px;
line-height: 18px;

 margin:0px 0px 80px;
}
    
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }
    .message-section {
        width: 40%;
        text-align: center;
    }
    .message-section img {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 100px;
        margin-bottom: 32px;
    }
h2.girl-message {
   font-size: 32px;
   line-height: 36px;

}

span.girl-name {

   font-size: 16px;
line-height: 16px;
margin:0px;
}

.request-btn {
    font-size: 20px;
line-height: 20px;
width: 209px;
height: 48px;
}

}
    /* end of the message */


/* start of the feature section */
.feature-mobile {
    display: block;
    text-align: center;
}

.feature-mobile span {
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #86899B;
}

.feature-mobile h2 {
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
color: #2F3035;
margin: 20px 20px;
}
.feature-mobile p, p.service-p{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
margin: 0 20px;
color: rgba(47, 48, 53, 0.6);
text-align: left;
}

.feature-mobile img {
    width: 300px;
    height: 300px;
    margin: 20px 0px 60px 0px;
}

.feature-left {
    display: none;
}

.feature-desktop {
    display: none;
}



.feature1-right {
    width: 80%;
}
.feature1-left {
    width: 20%;
    text-align: left;
}
.feature1-left img{
    width: 35px;
    height: 35px;
     margin-top: 0px;
    }


.feature1-right h3{
    text-align: left;
    margin-bottom: 16px;
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #2F3035;
}

.feature1-right p{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: rgba(47, 48, 53, 0.6);
text-align: left;
margin-left: 0px;
margin-bottom: 40px;
}






@media screen and (min-width:768px ){
    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

    .container {
        max-width: 768px;
    }

    .main {
        padding-bottom: 40px;

    }
.feature-mobile {
    display: block;
}
.feature-mobile span {
    font-size: 24px;
line-height: 30px;
}

.feature-mobile h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 30px 80px 20px;
}
.feature-mobile p {
    font-size: 26px;
    line-height: 32px;
    text-align: left;

}

 img.big-img {
    width: 700px;
    height: 500px;
}

.feature-desktop {
display: none;
}

 img.big-img {
    width: 600px;
    height: 300px;
    margin: 20px 0px 60px 0px;
}

div.f-tab{
    width: 50%;
    margin: 0px;
    float: left;
}
div.f-tab1{
    width: 50%;
    margin: 0px;
    float:right;
}

p.mail-para, p.anchor-para {
    width: 290px;
    
}

}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }
.feature-mobile {
    display: none;
}

.feature-desktop {
    display: block;
}

.feature-left {
    display: block;
}

.feature-right img {
    
    width: 480px;
    height: 600px;
}
.feature-left{
    margin-top: 100px;
    text-align: center;
    width:50%
}
.feature-right{
    margin-top: 100px;
    text-align: center;
    width:50%;
}

.feature-left span {
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #86899B;
width: 89%;
text-align: left;
}

.feature-left h2 {
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 36px;
width: 62%;
text-align: left;

color: #2F3035;

margin: 32px 44px 32px 218px;

}
 p.feature-paragraph {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: rgba(47, 48, 53, 0.6);
text-align: left;
margin-left: 212px;
margin-bottom: 64px;
}

.feature1-left {
    width: 40%;
}
.feature1-right {
    width: 60%;
}

.feature1-left img {
    margin-left: 150px;
}

}
/* end of the feature section */




 img.icon1 {
     /* margin-left:40px;  */
    }


.further-service {
    background-color:#2F3035;;
    color: rgba(255, 255, 255, 0.75);
    
    padding-bottom: 1px;
}

@media screen and (min-width:768px) {

    .container {
        max-width: 768px;
    }

    .main {
        padding-bottom: 40px;
    }


    img.icon1 {
margin-left: 10px;
    }

    
    .service1, .service2, .service3, .service4 {
        width: 50%;
    }
}
@media screen and (min-width:1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }

    .service1, .service2, .service3, .service4 {
        width: 50%;
    }

    img.icon1 {
    
width: 40px;
height: 40px;
    margin-left: 180px;
}

.service {
    margin-top: 100px;
}


}
.further-service {
    background-color:#2F3035;;
    color: rgba(255, 255, 255, 0.75);
    
    padding-bottom: 1px;
}




.grey-section h4 {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.75);
text-align: center;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .main {
        padding: 23px 0;
    }
    .grey-section h4 {
        font-size:20px;
    }
}


@media screen and (min-width:1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }
    .grey-section h4 {
        text-align: left;
        margin-left: 220px;
        margin-top: 60px;
        

    }

}




.grey-section2 {
  margin: 32px 30px;
  text-align: center;
}

.grey-section2 h1 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
color: #FFFFFF;
text-align: center;
}

.grey-btn1 
{
height: 40px;
background: transparent;
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 48px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
margin: 19px 0px;
cursor: pointer;
width: 100%;
}

.grey-btn1:hover{
    background-color: rgb(104, 95, 93);
   
}
.grey-btn2 {
    
width: 100%; 
font-size: 14px;
    line-height: 16px;
    height: 40px;
    background: #FFD300;
    border-radius: 48px;
    border-color: transparent;
    color: #2F3035;
    cursor: pointer;

}

.grey-btn2:hover{
    background-color:#ecd449;
}
.grey-mob {
    display: block;
}

   .grey-desktop {
       display: none;
   } 
    



   @media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .main {
        padding: 23px 0;
    }
.grey-btn1 , .grey-btn2 {
    width: 250px;
    margin: 10px 60px;
    font-size: 18px;
}
    .grey-mob {
        display: block;
    }
    
       .grey-desktop {
           display: none;
       } 
   }

@media screen and (min-width:1200px) {
    .container {
        max-width: 1400px;
    }

    .main {
        padding: 23px 0;
    }

    .grey-section2 h1 {
        font-size: 32px;
line-height: 36px;
width: 31.1428571%;

text-align: left;
float: left;

margin: 0px 220px 0px 190px;
    }
.grey-mob {
    display: none;
}

   .grey-desktop {
       display: block;
   } 

.grey-btn1 {
    
    width: 162px;
height: 48px;
font-size: 20px;
line-height: 20px;
margin: 10px 0px;
}
.grey-btn2 {
    width: 209px;
height: 48px;
font-size: 20px;
line-height: 20px;
margin: 10px 0px;


}
    
}


.footer {
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #86899B;

}

