


.header-contact {
    text-align: right ;
     padding: 0px 20px;
     position:static;
}



.head {
     list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgb(91, 144, 243);
        width: 100%;
        position:sticky;
        
}

ul>li {
    float: left;
}

ul>li>a{
               display: block;
                color: white;
                text-align: center;
                padding: 14px 16px 14px 20px;
                text-decoration: none;
                font-size:25px;
}

.health-img, .image-service {

    height:300px;
     width:100%;
     padding-top: 0px;
}

.header-service, .contact-us {
    padding-left: 20px; 
    background-color: cornflowerblue;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     color: white; height:50px; width: 1350px;
}
.div-portfolio {
    padding-left: 20px; 
    background-color: cornflowerblue;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     color: white; height:50px; width: 1350px;
}
div>p {
    padding: 20px;
}

span {
    padding-left: 40px; 
    font-size:x-large;


}

 
a {
    padding-left: 60px;

}

.left {
    background-color: rgb(162, 162, 247);
    
    float: left;
    width: 23%;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px;
    border-radius:10px;
}
.left-1 {
    background-color: rgb(204, 190, 195);
    float: left;
    width: 23%;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px;
    border-radius:10px;
}

.right {
    background-color: rgb(211, 211, 203);
    float:left;
    width: 23%;
    margin-right: 20px;
    border: 1px;
    border-radius:10px;
}
.right-1 {
    background-color:rgb(193, 193, 219);
    float:left;
    width: 23%;
    margin-right: 10px;
    border: 1px;
    border-radius:10px;
}

.clear-fix:before,
.clear-fix:after
 {
    content: "";
    clear: both;
    display: block;

}

img{

    width: 90%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
    
}

div>h2, div>p {
    text-align: center;
    
}

.left-corner {
   float: left;
    width: 50%;
   
}
.right-corner {
   float: right;
    width: 50%;
    
}

.bottom-footer {
    background-color: rgb(95, 95, 112);
    color: white;
    height: 9px;
    text-align: center;
    padding-bottom: 40px;

}

